<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.adelaide.physics.opticsstatusboard"
    android:versionCode="40"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".StatusBoardApplication"
        android:versionCode="1"
        android:versionName="1.0" >

        <activity
            android:name="au.edu.adelaide.physics.opticsstatusboard.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        
        <activity
            android:label="Settings"
            android:theme="@style/AppBaseTheme"
            android:name="au.edu.adelaide.physics.opticsstatusboard.SettingsActivity">
            <intent-filter android:label="settingsPage">
                <action android:name="android.intent.action.SETTINGS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".BootReceiver" >
			<intent-filter>
    			<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
        
        <receiver android:name="ToggleWidget" >
        	<intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	</intent-filter>

        	<meta-data
            	android:name="android.appwidget.provider"
            	android:resource="@xml/toggle_widget_info" />
    	</receiver>
    	
        <receiver android:name="OnAlarmReceiver"></receiver>
        <service android:name="BackgroundManager"></service>
    	
    </application>

</manifest>