<?xml version="1.0" encoding="utf-8"?>
<manifest package="au.edu.adelaide.physics.opticsstatusboard"
    android:versionCode="15"
    android:versionName="@string/version" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:versionCode="1"
        android:versionName="1.0" >

        <activity
            android:name="au.edu.adelaide.physics.opticsstatusboard.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="Settings" android:theme="@style/AppBaseTheme" android:name="SettingsActivity">
            <intent-filter android:label="settingsPage">
                <action android:name="android.intent.action.SETTINGS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="ToggleWidget" >
        	<intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	</intent-filter>

        	<meta-data
            	android:name="android.appwidget.provider"
            	android:resource="@xml/toggle_widget_info" />
    	</receiver>
    	
        <receiver android:name="OnAlarmReceiver"></receiver>
        <service android:name="BackgroundManager"></service>
    	
    </application>

</manifest>